@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(
    90deg,
    #abeca2 -1.42%,
    #2fb3fe 30.38%,
    #6a8eea 65.09%,
    #a185f4 99.55%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
